<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="x-ua-compatible"
      content="ie=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>{{title}}</title>
    {% if description %}
    <meta
      name="description"
      content="{{description}}"
    />
    {% endif %} {% block head %}{% endblock %}
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/style.css"
    />
    <script
      type="text/javascript"
      id="viral-loops-loader"
      data-campaign-id="9nlOIf016jJl6M1z0r9TIGdZuM0"
      src="https://app.viral-loops.com/widgetsV2/core/loader.js"
    ></script>
  </head>
  <body>
    {{ content | safe }}
    <script src="/static/js/alpine.js"></script>
  </body>
</html>
